
<form [formGroup]="formPromemoria" (ngSubmit)="onSubmit()">
<div class="row">
  <div class="col-md-12">
    <h2 *ngIf="!editMode">Creazione di un nuovo promemoria</h2>
    <h2 *ngIf="editMode">Modifica di un promemoria</h2>
  </div>
    <div class="col-md-6">
      <h3>Data di inizio: </h3>
      {{ formPromemoria.controls.dataInizio.value | date:'short' }}
      <dl-date-time-picker
        startView="day"
        maxView="year"
        minView="minute"
        minuteStep="5"
        formControlName="dataInizio"
      >
      </dl-date-time-picker>
    </div>
    <div class="col-md-6">
      <h3>Data di fine: </h3>
      {{ formPromemoria.controls.dataFine.value | date:'short' }}
      <dl-date-time-picker
        startView="day"
        maxView="year"
        minView="minute"
        minuteStep="5"
        formControlName="dataFine"
      >
      </dl-date-time-picker>
    </div>
    <label for="exampleFormControlSelect2">Tipo ricorrenza</label>
    <select class="form-control" id="exampleFormControlSelect2" formControlName="ricorrenza">
      <option value="nessuna">nessuna</option>
      <option value="settimanale">settimanale</option>
      <option value="mensile">mensile</option>
      <option value="annuale">annuale</option>
    </select>

    <label for="exampleFormControlTextarea1">Descrizione</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="descrizione"></textarea>
  <button class="btn btn-danger mt-4" (click)="$event.preventDefault();delete()" *ngIf="editMode">DELETE</button>
  <button type="submit" class="btn btn-primary btn-lg btn-block mt-4" [class.disabled]="formPromemoria.invalid">Salva</button>
</div>

</form>
