<div class="row">
  <div class="col-md-12">
    <h2>"{{ appuntamento.descrizione }}"</h2>
    <b>Da</b> {{ appuntamento.dataInizio | date:'short' }}
    <b>A</b> {{ appuntamento.dataFine | date:'short' }}
    <br><br>
    <h4>Persone invitate:</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let persona of persone">
        {{ persona.nome }} "{{ persona.username }}" {{ persona.cognome }}
      </li>
    </ul>
    <button class="btn btn-danger mt-4" (click)="delete()">ELIMINA</button>
  </div>
</div>
